<template>
  <nav class="py-3 px-8 border-b-2 border-grey">
    <div class="flex justify-between ...">
      <h1 class="font-bold text-2xl">
        My Notes
      </h1>

      <div class="primary">
        <button @click="showModal = true">Add Notes</button>
      </div>

      <input type="text" v-model="search" class="border-2 pl-3 rounded-full" />
    </div>
  </nav>

  <br>

  <div class="flex justify-center border-2 border-black p-5 mx-5">
    <div class="grid grid-cols-2 gap-4 w-full">
      <div class="border-2 border-black p-3" v-for="result in filteredResults" :key="result.id" ref="dataModal">
        <div class="flex justify-between ...">
          <div>
            <button class="bg-cyan-900 rounded px-1 font-semibold text-white" @click="showModal = true; showModalData(result.id)" v-on:click="select($event)">
              Edit
            </button>
            
            <h3 class="font-bold">
              {{ result.title }}
            </h3>
          </div>
  
          <button @click="deletePost(result.id)">
            <font-awesome-icon :icon="['fa', 'trash']"/>
          </button>
        </div>
  
        <p class="text-justify">
          {{ result.desc }}
        </p>
      </div>
    </div>
  </div>

  <SavedModal v-show="showModal" />
  <SavedModal v-show="showModal" @close-modal="showModal = false" />
</template>

<script>
  import SavedModal from './post.vue'
  import { defineComponent, ref } from "vue";
  
  let dataAll = null;
  
  export default defineComponent({
    async setup() {
      const result = ref();
      const response = await fetch("http://localhost:8000/api/posts");
      result.value = await response.json();

      const data = result.value;
      dataAll = data;
      return data;
    },
    
    components: { SavedModal },
    data() {
      return {
        showModal: false,
        results: dataAll,
        search: ""
      }
    },
    computed: {
      filteredResults() {
        return this.results.data.filter(p => {
          return (p.desc.toLowerCase().indexOf(this.search.toLowerCase()) != -1) || (p.title.toLowerCase().indexOf(this.search.toLowerCase()) != -1);
        });
      }
    },

    methods: {      
      async showModalData(val) {
        await useFetch(`http://localhost:8000/api/posts/${val}`, {
          method: 'get',
        }).then(response => {
          console.log(document.getElementById('title').value, response.data.value.data.title)
        })
      },
    
      async deletePost(val) {
        if(confirm("Do you really want to delete?")){
          await useFetch(`http://localhost:8000/api/posts/${val}`, {
              method: 'delete',
          })
          window.location.reload();
        }
      }
    }
  });

</script>
