<template>
    <div class="modal-overlay">
        <div class="modal">
            <button class="float-right" @click="$emit('close-modal')">
                <font-awesome-icon :icon="['fa', 'times']"/>
            </button>

            <input type="text" placeholder="Title" name="title" id="title" v-model="formData.title" class="border-2 border-black py-1 px-2 rounded w-full mb-5">
            <textarea name="desc"  cols="30" rows="10" id="desc" placeholder="Desc" v-model="formData.desc" class="border-2 border-black py-1 px-2 rounded w-full"></textarea>
            
            <div class="text-right">
                <button type="submit" class="border-2 border-black py-1 px-2 mr-3 rounded" @click="deletePost(result.id)">
                    Delete
                </button>

                <button type="submit" class="border-2 border-black py-1 px-2 rounded" v-on:click="store()">
                    Save
                </button>
            </div>
        </div>
    </div>
</template>
  
<script setup>
    import { ref } from 'vue'

    const formData = ref({
        title: "",
        desc: ""
    })

    const store = async () => {
        await useFetch('http://localhost:8000/api/posts', {
            method: 'post',
            body: {
                title: formData.value.title,
                desc: formData.value.desc
            }
        })
        window.location.reload();
    }

    const update = async (val) => {
        await useFetch(`http://localhost:8000/api/posts/${val}`, {
            method: 'put',
            body: {
                title: formData.value.title,
                desc: formData.value.desc
            }
        })
        window.location.reload();
    }

    const deletePost = async (val) => {
        if(confirm("Do you really want to delete?")){
          await useFetch(`http://localhost:8000/api/posts/${val}`, {
              method: 'delete',
          })
          window.location.reload();
        }
      }
</script>

<style scoped>

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.modal {
  text-align: center;
  background-color: white;
  height: 75%;
  width: 60%;
  margin-top: 10%;
  padding: 2% 5% 0;
  border-radius: 5vh;
}

</style>